*{
	margin:0px;
	padding:0px;
}
a{
	display: inline-block;
	text-decoration: none;
	color:#424242;
	width: 190px;
	height:90px;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size:190px 90px;


	/*第一种方法：缩进把文本隐藏起来，必须取消换行*/
	/*text-indent: 190px;   
	white-space: nowrap;
	overflow: hidden;*/

	/*第二种方法：利用height为把文本挤到下面，利用padding区域显示图片*/
	height:0px;   
	padding-top:90px;
	overflow: hidden;
}