*{
	margin:0px;
	padding:0px;
	color:#424242;
}
a{
	text-decoration: none;
}
.nav .list-item{
	float:left;
	margin-right: 10px;
	list-style: none;
}
.nav::after{
	content: "";
	display: block;
	clear: both;
}

.nav .list-item a {
	display:inline-block;	
	color:#f40;
	font-weight: bold;
	padding:5px;
	border-radius: 10px;
}
.nav .list-item a:hover{
	background-color: #f40;
	color:#fff;
}
